name: Sites Management API Module Pipeline

# controls when the action will run
on:
  # triggers the workflow on push for the develop and deployment branches
  push:
    paths:
      - '.github/workflows/sites-management-api.yaml' # trigger this workflow 
                                                      # only when the module 
                                                      # workflow is changed
      - 'sitesManagementAPI/**' # trigger this workflow only on the HDM
      - '!**.md'
      - '!**.pdf'
      - '!**.docx'
      - '!**.gitignore'
      - '!**.txt'
    
    #-- the code bellow won't work because "you may only define one of `paths` 
    #   and `paths-ignore` for a single event" --#

    #paths-ignore:
    #  # don't run this workflow when the are pushes and there are only changes 
    #  # for the following files:
    #  - '**.md'
    #  - '**.pdf'
    #  - '**.docx'
    #  - '**.gitignore'
    #  - '**.txt'

  # triggers the workflow on pull requests for the main branch
  pull_request:
    branches: [ main, development, feature/**] # triggers the workflow on the
                                               # main, development and every
                                               # branch whose name starts 
                                               # with feature/
    paths:
      - '.github/workflows/sites-management-api.yaml' # trigger this workflow 
                                                      # only when the module 
                                                      # workflow is changed
      - 'sitesManagementAPI/**' # trigger this workflow only on the site manegement api
      - '!**.md'
      - '!**.pdf'
      - '!**.docx'
      - '!**.gitignore'
      - '!**.txt'

    #-- the code bellow won't work because "you may only define one of `paths` 
    #   and `paths-ignore` for a single event" --#

    #paths-ignore:
    #  # don't run this workflow when the are pull requests, and there are only 
    #  # changes for the following files:
    #  - '**.md'
    #  - '**.pdf'
    #  - '**.docx'
    #  - '**.gitignore'
    #  - '**.txt'

  # allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sonar:
    name: Sites Management API SonarCloud Code Inspection
    runs-on: ubuntu-latest

    env:
      MARIADB_USER: dev_user
      MARIADB_PASSWORD: dev_pass 
      MARIADB_DATABASE: sites_man_db
      MARIADB_HOST: db
      MARIADB_PORT: 3306

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # shallow clones should be disabled for a better 
                          # relevancy of analysis
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install tox and other packages
        run: |
          sudo apt install -y libmariadb3 libmariadb-dev
          python -m pip install --upgrade pip
          pip install tox tox-gh-actions
          PYTHONPATH=${PYTHONPATH}:./src
      - name: Run tox
        run: |
          docker-compose -f docker-compose-dev.yml up -d
          tox -c sitesManagementAPI/tox.ini -v -e py        
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:

          MARIADB_USER: dev_user
          MARIADB_PASSWORD: dev_pass 
          MARIADB_DATABASE: sites_man_db
          MARIADB_HOST: db
          MARIADB_PORT: 3306

          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # needed to get PR 
                                                     # information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_SITES_MANAGEMENT_API }}
        with:
          projectBaseDir: sitesManagementAPI/
